{% extends 'base.html' %}
{% load static %}
{% block title %}Añadir camara{% endblock %}
{% block content %}
<div class="col-md-10 col-md-offset-1">
<form action="" method="post">
    {% csrf_token %}
    {% for field in form %}
        <div class="col-md-6">
            <label class="mylabel">{{ field.label }}</label>
            {{ field }}
        </div>
    {% endfor %}
    <div class="text-center">
        <input class="btn btn-primary btn-block" type="submit" value="Agregar camara" />
    </div>
</form>
</div>
{% endblock %}