{% extends 'base.html' %}
{% load static %}
{% block title %}
{% endblock %}
{% block content %}
<style>.panel.panel-headline{display:none;}img#foto{border-radius: 1000px;}</style>
{% endblock %}
{% block contentNext %}
<div class="col-md-6 col-sm-12">
    <div class="col-sm-12 panel" style="padding:20px 0;">
        <p style="padding: 0 25px;
    font-size: 20px;">Información General</p>
        <ul class="nav navbar-nav navbar-right" style="    position: absolute;
        right: 0;
        top: 0;z-index:1000;">
    <li class="nav-item">
        <a class="nav-link active" href="{% url 'mascota_update' mascota.id %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
    </li>
    </ul>
    <div class="col-md-6 col-sm-12">
    {% if mascota.avatar %}
        <p class="text-center">
            <img id="foto" src="{{mascota.avatar.url}}" height="200" class="mx-auto d-block img-rounded imagen">
        </p>
    {% else %}
        <p class="text-center">
            <img id="foto" src="{% static 'registration/img/no-avatar-pet.png' %}" height="150" class=" img-fluid img-rounded imagen">
        </p>
    {% endif %}
    </div>
    <div class="col-md-6 col-sm-12">
        <p  class=""><b>Nombre:</b>  {{mascota.nombre}}</p>
        <p  class=""><b>Dueño:</b>
        {% if mascota.dueno.first_name or mascota.dueno.last_name %}
            {{mascota.dueno.first_name}} {{mascota.dueno.last_name}}
        {% else %}
            {{mascota.dueno.username}}
        {% endif %}
        </p>
        <p class=""><b>Fecha de nacimiento:</b> {{mascota.fechaDeNacimiento}}</p>
        <p class=""><b>Raza: </b> {{mascota.raza}}</p>
        <p class=""><b>Tipo: </b> {{mascota.get_tipo_display}}</p>
        <p class=""><b>Observaciones: </b> {{mascota.observaciones}}</p>    
    </div>
    </div>
<div class="panel col-sm-12" style="padding-bottom:20px;">
<h3><b>Anotaciones:</b></h3>
    {% for anotacion in mascota.get_anotaciones.all %}
        {{ anotacion.texto}}
        <br>
    {% endfor %}
</div>
</div>
<div class="panel col-md-6 col-sm-12">
<h3><b>Historial de servicios:</b></h3>
{% for servicio in mascota.get_servicios.all %}
    <p>Fecha incio: {{servicio.fechaInicio}} - Fecha salida: {{servicio.fechaFin}}</p>
    <p>Tipo: {{servicio.tipo.nombre}}</p>
    <hr>
{% endfor %}
</div>
{% endblock %}
{% block Js %}
{% endblock %}
