{% extends 'base.html' %}
{% load static %}
{% block title %}Añadir servicio{% endblock %}
{% block content %}
<div class="col-md-10 col-md-offset-1">
<form action="" method="post">
    {% csrf_token %}
    {% for field in form %}
        <div class="col-md-6">
            <label class="mylabel">{{ field.label }}</label>
            {{ field }}
        </div>
    {% endfor %}
    <div class="col-md-6">
        <label class="mylabel">Tipo</label>
        <select name="tipo" class="form-control mt-3" style="margin-bottom: 20px;">
        {% for tipo in tipos_servicios %}
                <option value="{{tipo.id}}">{{tipo.nombre}}</option>
        {% endfor %}
        </select>
    </div>
    <div class="col-md-6">
        <label class="mylabel">Camara</label>
        <select name="camara" class="form-control mt-3" style="margin-bottom: 20px;">
        {% for camara in camaras %}
                <option value="{{camara.id}}">{{camara.nombre}}</option>
        {% endfor %}
        </select>
    </div>
    <div class="col-md-6">
        <label class="mylabel">Fecha de inicio</label>
        <input type="date" name="fechaInicio" class="form-control mt-3" value="">
    </div>
    <div class="col-md-6">
        <label class="mylabel">Fecha de fin</label>
        <input type="date" name="fechaFin" class="form-control mt-3" value="">
    </div>
    <div class="text-center">
        <input class="btn btn-primary btn-block" type="submit" value="Agregar servicio" />
    </div>
</form>
</div>
{% endblock %}