{% extends 'base.html' %}
{% load static %}
{% block title %}Editar servicio{% endblock %}
{% block content %}
<div class="col-md-10 col-md-offset-1">
<form action="" method="post">
    {% csrf_token %}
    <div class="col-md-6">
        <label class="mylabel" id="dueño_label">Cc dueño </label>
        <input id="cc" type="number" name="cliente" class="form-control mt-3" value="{{form.cliente.value}}" placeholder="Cc cliente" required>
    </div>
     <div class="col-md-6">
        <label class="mylabel" id="mascota_label">Mascota </label>
        <select id="mascota" name="mascota" class="form-control mt-3" style="margin-bottom: 20px;">
            <option value="{{form.mascota.value}}">{{mascota}}</option>
        </select>
    </div>
    <div class="col-md-6">
        <label class="mylabel">Tipo</label>
        <select name="tipo" class="form-control mt-3" style="margin-bottom: 20px;">
        {% for tipo in tipos_servicios %}
                <option {%if form.tipo.value == tipo.id %}selected{%endif%} value="{{tipo.id}}">{{tipo.nombre}}</option>
        {% endfor %}
        </select>
    </div>
    <div class="col-md-6">
        <label class="mylabel">Camara</label>
        <select name="camara" class="form-control mt-3" style="margin-bottom: 20px;">
        {% for camara in camaras %}
                <option {%if form.camara.value == camara.id %}selected{%endif%} value="{{camara.id}}">{{camara.nombre}}</option>
        {% endfor %}
        </select>
    </div>
    <div class="col-md-6">
        <label class="mylabel">Fecha de inicio: <small>{{form.fechaInicio.value}}</small> </label>
        <input required type="date" name="fechaInicio" class="form-control mt-3" value="{{form.fechaInicio.value|date:'Y-m-d'}}">
    </div>
    <div class="col-md-6">
        <label class="mylabel">Fecha de fin: <small>{{form.fechaFin.value}}</small> </label>
        <input type="date" name="fechaFin" class="form-control mt-3" value="{{form.fechaFin.value|date:'Y-m-d'}}">
    </div>
    <div class="text-center">
        <input class="btn btn-primary btn-block" type="submit" value="Guardar servicio" />
    </div>
</form>
</div>
{% endblock %}
{% block Js %}
<script>
    $( document ).ready(function() {
        var origin  = window.location.origin;
        var cc = $("#cc").val();
        var url = origin + '/checkclient/' + cc
        fetch(url).then(response => response.json())
        .then(function(json) {
            $("#dueño_label #dueño_nombre").remove();
            $("#dueño_label").append("<small id='dueño_nombre' style='color:#5b9fd5;'>"+json['nombre']+"</small>")
            if(json['e']){
                $("#mascota option").remove();
                $("#no_mascota").remove();
            }
            else{
                if(json['mascotas'].length > 0){
                    json['mascotas'].forEach(function(element) {
                        var s = "<option value="+element[0].toString()+">"+element[1]+"</option>";
                        $("#mascota").append(s);
                    });
                    $("#no_mascota").remove();                    
                }
                else{$("#mascota_label").append("<small id='no_mascota' style='color:#5b9fd5;'> No tiene mascotas registradas</small>");}
            }
        });
    });
    $( "#cc" ).keyup(function() {
        var origin   = window.location.origin;
        var cc = $(this).val();
        var url = origin + '/checkclient/' + cc
        fetch(url).then(response => response.json())
        .then(function(json) {
            $("#dueño_label #dueño_nombre").remove();
            $("#dueño_label").append("<small id='dueño_nombre' style='color:#5b9fd5;'>"+json['nombre']+"</small>")
            if(json['e']){
                $("#mascota option").remove();
                $("#no_mascota").remove();
            }
            else{
                if(json['mascotas'].length > 0){
                    json['mascotas'].forEach(function(element) {
                        var s = "<option value="+element[0].toString()+">"+element[1]+"</option>";
                        $("#mascota").append(s);
                    });
                    $("#no_mascota").remove();                    
                }
                else{$("#mascota_label").append("<small id='no_mascota' style='color:#5b9fd5;'> No tiene mascotas registradas</small>");}
            }
        });
    });
</script>
{% endblock %}