{% extends 'base.html' %}
{% load static %}
{% block title %}{{servicios.mascota.nombre}}{% endblock %}
{% block content %}
<div class="text-center">
    <img id="dynamicImage" src="{{servicios.camara.ip}}" class="img-fluid" alt="Video no disponile. Por favor recargar o contactar con el proveedor. *Display disponible para navegador Firefox y Safari.">
    <p align="left"><small>Livecamera para navegadores Safaria y Firefox.</small></p>
    <p align="left"><small>Si presentas algun problema prueba con recargar la pagina.</small></p>
    
</div>
{% endblock %}
{% block contentNext %}
<div class="panel panel-headline col-sm-6">
    <div class="panel-heading">
      <div class="panel-body">
          <div class="row">
             <p><b>Numero de identiticación mascota: </b>{{servicios.mascota.id}}</p>
             <p><b>Dueño: </b>{{servicios.mascota.dueno.username}}</p>
             <p><b>Raza: </b>{{servicios.mascota.raza}}</p>
             <p><b>Fecha de nacimiento: </b>{{servicios.mascota.fechaDeNacimiento}}</p>
             <p><b>Observaciones: </b>{{servicios.mascota.observaciones}}</p>
          </div>
        </div>
    </div>
  </div>

  <div class="panel panel-headline col-sm-5 col-sm-offset-1">
      <div class="panel-heading">
        <div class="panel-body">
            <div class="row">
               <p><b>Servicio #: </b>{{servicios.id}}</p>
               <p><b>Veterinaria: </b>{{servicios.veterinaria.user.username}}</p>
               <p><b>Fecha de inicio: </b>{{servicios.fechaInicio}}</p>
               <p><b>Fecha de fin: </b>{{servicios.fechaFin}}</p>
               <p><b>Tipo: </b>{{servicios.tipo.nombre}}</p>
               <p><b>Camara: </b>{{servicios.camara.nombre}}</p>
            </div>
          </div>
      </div>
    </div>
{% endblock %}
{% block Js %}
<script>
$(function() {
	   var intervalMS = 1000;
	   setInterval(function() {
	      $("#dynamicImage").prop("src", "{{servicios.camara.ip}}?" + +new Date());
	   }, intervalMS);
	});
</script>
{% endblock %}
