{% extends 'base.html' %}
{% load static %}
{% block title %}Añadir servicio{% endblock %}
{% block stylesBlock %}
    <link href="{% static 'vendor/datetimepicker/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
    <style>
        .contfecha{
            -moz-box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 5px;
    border-color: #eaeaea;
    background-color: #fcfcfc;
    border: 1px solid #ccc;
        }
    </style>
{% endblock %}
{% block content %}
<div class="col-md-10 col-md-offset-1">
<form action="" method="post">
    {% csrf_token %}
    <div class="col-md-6">
        <label class="mylabel" id="dueño_label">Cc dueño </label>
        <input id="cc" type="number" name="cliente" class="form-control mt-3" value="" placeholder="Cc cliente" required>
    </div>
     <div class="col-md-6">
        <label class="mylabel" id="mascota_label">Mascota </label>
        <select id="mascota" name="mascota" class="form-control mt-3" style="margin-bottom: 20px;">
            <option value="0"></option>
        </select>
    </div>
    <div class="col-md-6">
        <label class="mylabel">Tipo</label>
        <select name="tipo" class="form-control mt-3" style="margin-bottom: 20px;">
        {% for tipo in tipos_servicios %}
                <option value="{{tipo.id}}">{{tipo.nombre}}</option>
        {% endfor %}
        </select>
    </div>
    <div class="col-md-6">
        <label class="mylabel">Camara</label>
        <select name="camara" class="form-control mt-3" style="margin-bottom: 20px;">
        {% for camara in camaras %}
                <option value="{{camara.id}}">{{camara.nombre}}</option>
        {% endfor %}
        </select>
    </div>
    <div class="col-md-6" style="margin:0 0 29px; ">
        <label class="mylabel">Fecha de inicio</label>
        <div class="input-group date form_datetime contfecha" data-date-format="dd MM yyyy - HH:ii p" data-link-field="fechaInicio">
            <input style="margin:0px;    background: #fff;    border: none;" class="form-control mt-3" size="16" type="text" value="" readonly>
            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
            <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
        </div>
        <input type="hidden" id="fechaInicio" value="" name="fechaInicio" />
    </div>
    <div class="col-md-6"  style="margin:0 0 29px; ">
        <label class="mylabel">Fecha de fin</label>
        <div class="input-group date form_datetime contfecha" data-date-format="dd MM yyyy - HH:ii p" data-link-field="fechaFin">
            <input style="margin:0px;    background: #fff;    border: none;" class="form-control mt-3" size="16" type="text" value="" readonly>
            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
            <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
        </div>
        <input type="hidden" id="fechaFin" value="" name="fechaFin" />
    </div>
    <div class="text-center">
        <input class="btn btn-primary btn-block" type="submit" value="Agregar servicio" />
    </div>
</form>
</div>
{% endblock %}
{% block Js %}
<script type="text/javascript" src="{% static 'vendor/datetimepicker/bootstrap-datetimepicker.js' %}" charset="UTF-8"></script>
<script type="text/javascript" src="{% static 'vendor/datetimepicker/locales/bootstrap-datetimepicker.fr.js' %}" charset="UTF-8"></script>
<script type="text/javascript">
    $('.form_datetime').datetimepicker({
        //language:  'fr',
        weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		forceParse: 0,
        showMeridian: 1
    });
</script>
<script>
    $( "#cc" ).keyup(function() {
        var origin   = window.location.origin;
        var cc = $(this).val();
        var url = origin + '/checkclient/' + cc
        fetch(url).then(response => response.json())
        .then(function(json) {
            $("#dueño_label #dueño_nombre").remove();
            $("#dueño_label").append("<small id='dueño_nombre' style='color:#5b9fd5;'>"+json['nombre']+"</small>")
            if(json['e']){
                $("#mascota option").remove();
                $("#no_mascota").remove();
            }
            else{
                if(json['mascotas'].length > 0){
                    $("#mascota option").remove();
                    json['mascotas'].forEach(function(element) {
                        var s = "<option value="+element[0].toString()+">"+element[1]+"</option>";
                        $("#mascota").append(s);
                    });
                    $("#no_mascota").remove();                    
                }
                else{$("#mascota_label").append("<small id='no_mascota' style='color:#5b9fd5;'> No tiene mascotas registradas</small>");}
            }
        });
    });
</script>
{% endblock %}