<div class="row">
        <div class="col-md-3">
            <div class="metric">
                <a href="{% url 'pet_list' %}">
                        <span class="icon"><i class="fa fa-paw"></i></span>
                        <p>
                            <span class="number">{{ user.get_pets.count }}</span>
                            <span class="title">Mascotas</span>
                        </p>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="metric">
                <a href="{% url 'servicios_list' %}">
                    <span class="icon"><i class="fa fa-medkit"></i></span>
                    <p>
                        <span class="number">10</span>
                        <span class="title">Servicios</span>
                    </p>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="metric">
                <span class="icon"><i class="fa fa-eye"></i></span>
                <p>
                    <span class="number">2</span>
                    <span class="title">Veterinarias</span>
                </p>
            </div>
        </div>
    </div>
