<!DOCTYPE HTML>
<!--
	Intensify by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>LiboLive</title>
		{% load static %}
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="¡No pierdas el contacto con tus mascotas! Crea una cuenta y asegúrate de que tu veterinaria
		 de confianza cuente con nuestros servicios para que puedas disfrutar los beneficios de 
		 LiboLive. Así podrás monitorear a tu mascota cuando debas dejarla allí, a la hora que sea 
		 y desde donde estés.">
		<link rel="icon" href="{% static 'images/libolive-logo-favicon.png' %}">
		<!-- Estilos -->
		<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
		<link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
		<link href="{% static 'css/home.css' %}" rel="stylesheet">
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<nav class="left">
					<a href="#menu"><span>Menu</span></a>
				</nav>
				<a href="{% url 'home' %}" class="logo">LiboLive</a>
				<nav class="right">
				{% if request.user.is_anonymous %}
					<a class="button alt" href="{% url 'signup' %}">Registro</a>
					<a class="button" href="{% url 'login' %}">Acceder</a>
				{% else %}
					<a class="button" href="{% url 'profiles:inicio' %}">Plataforma</a>
				{% endif %}
				</nav>
			</header>

		<!-- Menu -->
			<nav id="menu">
				<ul class="links">
					<li><a href="{% url 'home' %}">Inicio</a></li>
					<li><a class="scrolly" href="#one">Sobre nosotros</a></li>
					<li><a href="{% url 'pages:pages' %}">Blog</a></li>
				</ul>
				<ul class="actions vertical">
					<li><a class="button fit" href="{% url 'login' %}">Acceder</a></li>
				</ul>
			</nav>

		<!-- Banner -->
		{% load random_int %}
			<section id="banner" style="background-image: url({% random_bg %});">
				<div class="content">
					<h1>Siempre en contacto</h1>
					<p>Con LiboLive lo puedes monitorear cuando quieras y desde donde quieras.</p>
					<ul class="actions">
						<li><a href="{% url 'signup' %}" class="button scrolly">Crear cuenta</a></li>
					</ul>
				</div>
				<!-- <svg id="svg-sprite">
					<symbol id="paw" viewBox="0 0 249 209.32">
					<image xlink:href="{% static 'images/footprint-dog.png' %}" x="0" y="0" height="100px" width="100px"></image>
					</symbol>
				</svg>
				<div class="ajax-loader">
					<div class="paw"><svg class="icon"><use xlink:href="#paw"></use></svg></div>
					<div class="paw"><svg class="icon"><use xlink:href="#paw"></use></svg></div>
					<div class="paw"><svg class="icon"><use xlink:href="#paw"></use></svg></div>
					<div class="paw"><svg class="icon"><use xlink:href="#paw"></use></svg></div>
					<div class="paw"><svg class="icon"><use xlink:href="#paw"></use></svg></div>
					<div class="paw"><svg class="icon"><use xlink:href="#paw"></use></svg></div>
				  
					  <div class="paw"><svg class="icon"><use xlink:href="#paw"></use></svg></div>
					<div class="paw"><svg class="icon"><use xlink:href="#paw"></use></svg></div>
					<div class="paw"><svg class="icon"><use xlink:href="#paw"></use></svg></div>
					<div class="paw"><svg class="icon"><use xlink:href="#paw"></use></svg></div>
				</div> -->
			</section>

		<!-- que-es-libolive -->
			<section id="one" class="wrapper">
				<div class="title">
					<h2>Estamos para acercarte a tu mascota</h2>
					<p style="padding:0 25px;">LiboLive llega para ofrecerte una experiencia que te permitirá seguir en contacto con tus mascotas al ser dejadas en procesos de hospitalización, baño, guardería y cualquier otro proceso que la veterinaria permita monitorear vía videostreaming.</p>
				</div>
				<div class="inner flex flex-3">
					<div style="text-align:center;padding-top:20px;" class="flex-item center">
						<div>
							<h3>Por ti </h3>
							<p>La estabilidad  y confiabilidad de nuestro servicio permite una experiencia placentera</p>
						</div>
					</div>

					<div class="flex-item image fit">
						<img height="240px" src="{% static 'images/Libo_libolive_mascota_logo_index.png' %}" alt="" />
					</div>

					<div style="text-align:center;padding-top:20px;" class="flex-item center">
						<div>
							<h3>Dónde encontrarnos</h3>
							<p>Pregunta en tu veterinaria de confianza si cuenta con los servicios de LiboLive para acceder a nuestros beneficios</p>
						</div>
					</div>
				</div>
				<p style="text-align:center;">
					<a id="que-hacemos" style="width:150px" class="btn btn-outline-success" href="#que-hacemos">¿QUÉ HACEMOS?</a>
					<a style="width:150px" class="btn btn-primary" href="#footer">CONTACTO</a>
				</p>
			</section>

		<!-- nuestro-servicio -->
			<section id="ns" class="wrapper">
				<div class="title text-center">
					<h2>En LiboLive Amamos lo que Hacemos</h2>
					<p style="padding:0 25px;">Pensando en todos hemos desarrollado una serie de soluciones que se ajusten a tus necesidades</p>
				</div>
				<div class="row">
					<div class="col-md-offset-1 col-md-5 col-sm-10">
						<div class="text-center" style="    display: inline-block;"r>
							<div class=" col-sm-5 col-md-5">
								<img height="100px" src="{% static 'images/estetoscopio.png' %}" alt="" />
							</div>
							<div class=" col-sm-offset-4 col-sm-8 col-md-7">
									<h3>VETERINARIA</h3>
									<p style="text-align: justify;">
									¿Necesitas una mano extra?
									¡No te preocupes, LiboLive ha llegado para ayudarte
									en esta ardua pero satisfactoria tarea! Instalamos
									nuestros servicios en tu veterinaria. Nuestro equipo
									no va a interferir con tus labores, somos una mano
									amiga que busca ayudar en tu trabajo.</p>
							</div>
						</div>
					</div>
					<div class="col-md-5 col-sm-10">
						<div class="text-center" style="    display: inline-block;"r>
							<div class=" col-sm-5 col-md-5">
								<img height="100px" src="{% static 'images/telefono-inteligente.png' %}" alt="" />
							</div>
							<div class=" col-sm-offset-4 col-sm-8 col-md-7">
									<h3>DUEÑOS DE MASCOTAS</h3>
									<p style="text-align: justify;">Llegó el día en el que debes dejar a tu amigo peludo
							en la veterinaria. No queremos que estés todo el día
							preocupándote por cómo está. LiboLive ha llegado y
							con él puedes monitorear mediante vídeo y por el
							tiempo que quieras a tu mascota. Contacta a tu
							veterinaria de confianza y pregunta por nuestros
							servicios. ¡Te acercamos a tu mascota!</p>
							</div>
						</div>
					</div>
				</div>
			</section>

		<!-- Referal 
			<section id="two" class="wrapper style1 special" style="padding:1em 0;">
			
				<div class="inner">
					<h2>Feugiat lorem</h2>
					<figure>
					    <blockquote>
					        "Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra<br /> magna etiam lorem ultricies in diam. Sed arcu cras consequat."
					    </blockquote>
					    <footer>
					        <cite class="author">Jane Anderson</cite>
					        <cite class="company">CEO, Untitled</cite>
					    </footer>
					</figure>
				</div> 
			</section>-->

		<!-- Blog -->
			<section id="three" class="wrapper">
				<div class="title text-center">
					<h2><a href="{% url 'pages:pages' %}">Nuestro blog</a></h2>
					<p style="font-weight: bold;">Acá podras encontrar información que podría interesarte,
					<br> te invitamos a leer y compartir las novedades que tenemos para ti. </p>
				</div>
				<div class="inner flex flex-3">
					{% for entrada in entradas %}
					<div class="flex-item box">
						{% if entrada.image %}
						<div class="image fit">
							<img src="{{entrada.image.url}}" alt="" />
						</div>
						{% endif %}
						<div class="content">
							<a href="{% url 'pages:page' entrada.id entrada.title|slugify %}">
								<h3>{{ entrada.title }}</h3>
								<p>{{entrada.content|striptags|safe|truncatechars:"100"}}</p>
							</a>
							<em> 
							{% for categoria in entrada.categories.all %}
								<a href="{% url 'pages:category' categoria.id %}" class="link">{{categoria.name}}</a>{% if not forloop.last %},{% endif %}
							{% endfor %}
							</em>
						</div>
					</div>
					{% endfor %}
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<h2>Dónde encontrarnos</h2>
					<ul class="actions">
						<li><span class="icon fa-envelope"></span> <a href="#"> info@libolive.com</a></li>
						<li><span class="icon fa-phone"></span> <a href="#"> (000) 000-0000</a></li>
						<li> <a href="#"> <span class="icon fa-facebook"></span> LiboLive</a></li>
						<li> <a href="#"><span class="icon fa-instagram"></span> @serviciolibolive</a></li>

					</ul>
				</div>
				<div class="copyright">
				<p><a target="_blank" href="{% static 'doc/Terminos_y_condiciones_&_politica_de_privacidad.pdf' %}">Nuestra política de privacidad, términos y condiciones.</a>
					</p>
					&copy; LiboLive, te acercamos a tu mascota. Con <i style="color:red" class="fa fa-heart" aria-hidden="true"></i> <a target="_blank" href="http://bunnyagency.com">Por BunnyAgency </a><small>by: Fryos Studios</small>.
				</div>
			</footer>

		<!-- Scripts -->
		<script>			if (location.protocol !== "https:") {				location.protocol = "https:";				}		</script>
			<script src="{% static 'js/jquery.min.js' %}"></script>
			<script src="{% static 'js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'js/skel.min.js' %}"></script>
			<script src="{% static 'js/util.js' %}"></script>
			<script src="{% static 'js/main.js' %}"></script>

	</body>
</html>