{% extends 'registration/base_registration.html' %}
{% load static %}
{% block title %}Restablecer contraseña{% endblock %}
{% block titleContent %}Restablecer contraseña{% endblock %}
{% block content %}
<style>.errorlist{color:red;}</style>
<main role="main">
    <div class="row mt-3">
      <div class="col-md-10 col-md-offset-1">
        <form action="" method="post">{% csrf_token %}
          <span class="top">¿Ha olvidado su clave? Introduzca su dirección de correo a continuación y le enviaremos por correo electrónico las instrucciones para establecer una nueva.</span>
          {{ form.email.errors }}
          <p><input type="email" name="email" maxlength="254" required="" id="id_email" class="form-control" placeholder="Introduce tu email"/></p>
          <p><input type="submit" class="btn-regis" value="Confirmar"></p>
        </form>
      </div>
    </div>
</main>
{% endblock %}